{% load static %}

<div class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h1>VINTAGE CARS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 my-3 px-3">
            <p>Owning your own classic car is out of reach and very expensive. Some parts are not fabricated
                already and some are very hazardous for the environment. But here in Vintage Cars we bring the world of
                classic cars to a whole new level by posting your favorite cars and making these classic or vintage
                vehicles available for rent in a quick, simple and easy way. Our unique and seamless approach is
                designed to ensure you have the best possible experience when it comes to organizing the rental of your
                dream car – for whatever occasion – and ensure the whole process is smooth and stress-free from the
                start, right up until the finish line. <br><br>We provide a space for avid fans of classic cars to share
                their favorite car and, of course, their own personal classic car. We also have a section for events to
                check for any upcoming events near you. <br><br>If you’ve ever dreamed of driving a vintage car for
                the weekend and leaving your stresses behind, turning heads by arriving at an event in a unique retro
                car or making that special day extra memorable, see how we can help match you to the perfect vehicle.
                <br><br>Have fun and enjoy the experience of driving your dream!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid how-container">
    <img src="{% static 'images/world-map.png' %}" alt="World map background">
    <div class="row how-content">
        <div class="col-md-10 mx-auto">
            <h2>How does it work?</h2>
        </div>
        <div class="col-md-10 mx-auto">
            <div class="row mt-3">
                <div class="col-md-4 col-sm-4 d-flex justify-content-center my-2">
                    <div class="card">
                        <div class="card-body">
                            <p class="fs-3 text-center"><i class="fas fa-map-marked-alt"></i></p>
                            <h5 class="card-title text-center mb-2 uppercase">Find your car</h5>
                            <p class="card-text c-text">
                                You can browse our list of cars posted by our trusted members of the community.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 d-flex justify-content-center my-2">
                    <div class="card">
                        <div class="card-body">
                            <p class="fs-3 text-center"><i class="fas fa-handshake"></i></p>
                            <h5 class="card-title text-center mb-2 uppercase">Book your ride</h5>
                            <p class="card-text c-text">
                                The booking and payment is easy and simple. You can book the car directly from the owner.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 d-flex justify-content-center my-2">
                    <div class="card">
                        <div class="card-body">
                            <p class="fs-3 text-center"><i class="fas fa-car"></i></p>
                            <h5 class="card-title text-center mb-2 uppercase">Drive!</h5>
                            <p class="card-text c-text">
                                When all is good and payment is done, you can then drive your dream car!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>