{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row g-0 position-relative contact-container mb-2">
    <div class="col-md-6 contact-image">
        <img src="{% static 'images/car-lights.gif' %}" alt="">
    </div>
    <div class="col-md-6 position-absolute top-0 start-50">
        <div class="row">
            <div class="col mt-5 mb-2">
                <h2>Contact Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col mb-2">
                <p>Vintage Cars strives to bring the best customer service to everyone. So we provide a section where
                    you can reach out to us faster and easier. <br><br>For any enquiry please fill up this form and we
                    will get in touch with you very soon. <br>To rent a car, press <a href="#">here</a>!</p>
            </div>
            <form action="">
                <input class="form-control" type="text" name="name" placeholder="Complete name">
                <input class="form-control" type="email" name="email" placeholder="Email">
                <textarea class="form-control mb-1" name="message" id="" cols="30" rows="5" placeholder="Your message here"></textarea>
                <input type="submit" name="submit" id="submit_contact" class="btn btn-secondary" value="Send message">
            </form>
        </div>
    </div>
</div>
<div class="row">
</div>


{% endblock %}