{% extends 'base.html' %}

{% block title %} User Profile {% endblock %}

{% load static %}

{% block content %}
<!-- Profile page nav -->
<section>
    <a class="up-button"></a>
    <div class="container vintage-profile">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            {% if user.is_authenticated %}
            <div class="text-end profile-icon">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="col">
                <h3 class="profile-bar mx-5">Hello {{ user.username }}</h3>
            </div>
            <ul class="nav col-10 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li>
                    <a href="{% url 'add_car' %}" class="nav-link add-link t-white mx-2 hvr-icon-pop">
                        Add Post <span><i class="fas fa-plus-circle hvr-icon"></i></span>
                    </a>
                </li>
                <button type="button" class="btn t-white mx-2 px-4 hvr-icon-wobble-horizontal" data-bs-toggle="modal"
                    data-bs-target="#modal-logout">
                    LogOut <span><i class="fas fa-sign-out-alt hvr-icon"></i></span>
                </button>
            </ul>
            {% else %}
            <div class="text-end profile-icon">
                <i class="far fa-user-circle"></i>
            </div>
            <div class="col">
                <h3 class="text-uppercase mx-5">Welcome</h3>
            </div>
            <ul class="nav col-10 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{% url 'login' %}" class="nav-link add-link t-white mx-2 hvr-icon-bob">
                        Log In <span><i class="fas fa-sign-in-alt hvr-icon"></i></span>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
    <!-- end of profile nav -->
</section>

<!-- Post section of profile page -->
<section class="container justify-content-center content-profile">
    {% if user.is_authenticated %}
    <!-- Filter bar -->
    <div class="row mt-1º text-center">
        <div class="col">
            <div class="filter-body">
                <form method="GET">
                    {{ car_filter.form }}
                    <button class="btn btn-secondary my-1" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <!-- Show all post if the author is the user -->
        {%  for post in post_car  %}
        {% if user.id is post.author.id %}
        <div class="col-lg-4 col-md-12 contain-photo g-0">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="view-more text-white text-center">
                        <a href="{% url 'car_detail' post.id %}" class="hvr-icon-spin" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Read more">
                            <i class="far fa-eye hvr-icon"></i>
                        </a>
                        <a href="{% url 'edit_car' post.id %}" class="hvr-icon-grow-rotate" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Edit post">
                            <i class="fas fa-pen hvr-icon"></i>
                        </a>
                        <button type="button" class="t-white hvr-icon-drop delete-btn" data-bs-toggle="modal"
                            data-bs-target="#modal-delete">
                            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete">
                                <i class="fas fa-trash hvr-icon"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <article class="text-left">
                        <h2>{{ post.car_model_title }}</h2>
                        <h4>({{ post.year_manufactured }})</h4>
                    </article>
                </div>
            </div>
            {% if "placeholder" in post.car_image.url %}
            <img src="{% static 'images/screenshots/sshot-logo-dark.png' %}" alt="Default image">
            {% else %}
            <img src="{{ post.car_image.url }}" alt="Car Image">
            {% endif %}
        </div>
        <!-- Modal to confirm post deletion -->
        <div class="modal fade" id="modal-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete Post</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        You clicked delete button. Are you sure you want to delete this post?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete_car' post.id %}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
        {% else %}
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5 pt-3 text-center">
            <p>Please log in to view and edit your posts.</p>

        </div>
    </div>
    {% endif %}
    </div>

</section>
<!-- Modal to confirm log out -->
<div class="modal fade" id="modal-logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Log out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are your sure you want to log out?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-danger">Log out</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}