/* -----------  Google fonts  -------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Space+Mono&family=Special+Elite&display=swap');

/* -----------  Root  -------------------------------------------------------------------------------------------------- */

:root {
    /* colors */
    --vintage-drk-brown: #6f5c42;
    --vintage-white: #f3f3f3;
    --vintage-brown: #b1987f;
    --vintage-red: #C1624E;
    --vintage-trans-black: rgba(0, 0, 0, .8);
    /* fonts */
    --space-mono: 'Space Mono', monospace;
    --elite: 'Special Elite', cursive;
    --abril: 'Abril Fatface', cursive;
}

/* -----------  Global  -------------------------------------------------------------------------------------------------- */
body { 
    background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(15, 18, 22) 29.7%, rgb(37, 47, 53) 63.4%, rgba(49, 65, 75, 0.8) 100.1%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    color: var(--vintage-white);
    font-family: var(--space-mono)
}

hr {
    margin: 0 0 10px 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--abril);
}


/* -----------  Text styles ---------------------------------------------------------------------------------- */
.t-white {
    color: var(--vintage-white);
}

.t-drk-brown {
    color: var(--vintage-drk-brown)
}

/* =========delete thist!!!!!!!!!!!!===== */
.t-red {
    color: red;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

/* -----------  Navbar  -------------------------------------------------------------------------------------------------- */

.navbar-nav .nav-item,
.navbar .navbar-nav .nav-link {
    padding: 0 30px 0;
    color: var(--vintage-white);
    font-size: 18px;
    font-family: var(--elite);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--vintage-red);
}

/* from https://css-tricks.com/perfect-full-page-background-image/ */
.navbar .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d0d584;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/* from https://css-tricks.com/perfect-full-page-background-image/ */
.navbar .navbar-nav .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .navbar-nav .active {
    color: var(--vintage-brown);
    font-weight: bolder;
}


.navbar .navbar-toggler {
    border-color: transparent;
}

.navbar>.container {
    display: block;
    text-align: center;
}

.navbar-toggler i {
    font-size: 30px;
}


/* -----------  Footer  -------------------------------------------------------------------------------------------------- */
.footer {
    display: flex;
}

.footer-cont {
    text-align: center;
}
.footer-link {
    color: var(--vintage-drk-brown);
}

.footer .footer-link:hover {
    color: var(--vintage-red)
}

.footer-cont p {
    font-size: 13px;
}


/* -----------  Home page  -------------------------------------------------------------------------------------------- */

.transparent-bg {
    background-color: var(--vintage-trans-black);
}


/* -----------  Cars  -------------------------------------------------------------------------------------------- */

.contain {
	height: 100%;
}

.contain-photo {
	background-color: rgba(57, 62, 93, 0.7);
	padding: 0;
	overflow: hidden;
	max-width: 410px;
	margin: 15px;
    position: relative;
}

.contain-photo article {
	position: absolute;
    padding: 10px;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.contain-photo h2 {
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	border-bottom: #fff solid 1px;
}

.contain-photo h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

.contain-photo img {
	width: 100%;
    height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;
	-webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-o-transition: all 4s ease;
	-ms-transition: all 4s ease;
	transition: all 4s ease;
}

.view-more {
	position: absolute;
	/* width: 100%; */
	/* height: 50px; */
    font-size: 18px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view-more button {
	background-color: var(--vintage-brown);
}

/*hovers*/
.view-more button:hover {
    border: none;
    background-color: var(--vintage-drk-brown);
}

.contain-photo:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.contain-photo:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.contain-photo:hover .view-more {
	transform: translate(0px, -9px);
	-webkit-transform: translate(0px, -9px);
	-moz-transform: translate(0px, -9px);
	-o-transform: translate(0px, -9px);
	-ms-transform: translate(0px, -9px);
	opacity: 1;
}


/* car details */
.masthead {
    overflow: hidden;
}
.main-text {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: var(--vintage-trans-black);
    max-width: 100%;
}

/* Responsive */

@media (max-width: 991px) {
    
    hr {
        border-top: 0;
    }
    
    .navbar>.container {
        display: flex;
        flex-wrap: inherit;
        align-items: flex-end;
        justify-content: space-between;
        margin-right: 0;
        margin-left: 40%;
    }

    .navbar-nav .nav-item {
        text-align: end;
    }
    .navbar-brand img {
        width: 150px;
    }

    .navbar-nav .nav-item,
    .navbar .navbar-nav .nav-link {
        padding: 0 10px 0;
        margin-left: 45%;
    }

}

/* medium devices */
@media (max-width: 768px) {
    .navbar-brand img {
        width: 150px;
    }
    .navbar-nav .nav-item,
    .navbar .navbar-nav .nav-link {
        
        margin-left: 30%;
    }


}

/* small devices */
@media (max-width: 575.98px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar>.container {
        margin-left: 30%;
    }

}