/* -----------  Google fonts  -------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Space+Mono&family=Special+Elite&display=swap');

/* -----------  Root  -------------------------------------------------------------------------------------------------- */

:root {
    /* colors scheme */
    --vintage-drk-brown: #6E5644;
    --vintage-white: #f3f3f3;
    --vintage-brown: #b1987f;
    --vintage-orange: #D3A24C;
    --vintage-yellow: #ECE7C2;
    --vintage-red: #CD6C4A;
    --vintage-green: #73BDA8;
    --vintage-trans-black: rgba(0, 0, 0, .8);
    /* fonts */
    --space-mono: 'Space Mono', monospace;
    --elite: 'Special Elite', cursive;
    --abril: 'Abril Fatface', cursive;
}

/* -----------  Global  -------------------------------------------------------------------------------------------------- */
body { 
    margin: 0;
    padding: 0;
    /* Shecodes */
    background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(15, 18, 22) 29.7%, rgb(37, 47, 53) 63.4%, rgba(49, 65, 75, 0.8) 100.1%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    color: var(--vintage-white);
    font-family: var(--space-mono);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    margin: 0 0 10px 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--abril);
}

footer {
    margin-top: auto;
}

/* -----------  Text styles ---------------------------------------------------------------------------------- */
.t-white {
    color: var(--vintage-white);
}

.t-drk-brown {
    color: var(--vintage-drk-brown);
}

.t-red {
    color: var(--vintage-red);
}

.uppercase {
    text-transform: uppercase;
}

/* -----------  Background style  ------------------------------------------------------------------------------------ */

.black-bg {
    background-color: var(--vintage-trans-black);
}

.transparent-bg {
    background-color: transparent;
}

/* -----------  Navbar  -------------------------------------------------------------------------------------------------- */
.alert {
    z-index: 100;
    font-family: var(--elite);
    position: absolute;
}

#mainNave {
    position: relative;
}

.navbar-nav .nav-item,
.navbar .navbar-nav .nav-link {
    padding: 0 30px 0;
    color: var(--vintage-white);
    font-size: 18px;
    font-family: var(--elite);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--vintage-red);
}

/* from https://www.30secondsofcode.org/css/s/hover-underline-animation */
.navbar .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d0d584;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/* from https://www.30secondsofcode.org/css/s/hover-underline-animation */
.navbar .navbar-nav .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .navbar-nav .active {
    color: var(--vintage-brown);
    font-weight: bolder;
}


.navbar .navbar-toggler {
    border-color: transparent;
}

.navbar>.container {
    display: block;
    text-align: center;
}

.navbar-toggler i {
    font-size: 30px;
}


/* -----------  Footer  -------------------------------------------------------------------------------------------------- */
.footer {
    display: flex;
}

.footer-cont {
    text-align: center;
}
.footer-link {
    color: var(--vintage-drk-brown);
}

.footer .footer-link:hover {
    color: var(--vintage-red)
}

.footer-cont p {
    font-size: 13px;
}

/* -----------  Cars  -------------------------------------------------------------------------------------------- */
/* almost all "cars" style is from: https://codepen.io/francisco-kataldo/pen/LBBryV */
.contain {
	height: 100%;
    justify-content: center;
}

.contain-photo {
	background-color: rgba(57, 62, 93, 0.7);
	padding: 0;
	overflow: hidden;
	max-width: 410px;
	margin: 15px;
    position: relative;
}

.contain-photo article {
	position: absolute;
    padding: 10px;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.contain-photo h2 {
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	border-bottom: #fff solid 1px;
}

.contain-photo h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

.contain-photo img {
	width: 100%;
    height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	-webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-o-transition: all 4s ease;
	-ms-transition: all 4s ease;
	transition: all 4s ease;
}

.view-more {
    padding: 10px;
    background-color: var(--vintage-orange);
    width: 100%;
	position: absolute;
    font-size: 18px;
	bottom: -10px;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view-more a {
	background-color: var(--vintage-orange);
    color: var(--vintage-white);
    padding: 10px;
}

.view-more .delete-btn {
    background-color: transparent;
    border: none;
}

.view-more .delete-btn:hover {
    background-color: transparent;
    border: none;
}

.view-more button:hover {
    border: none;
    background-color: var(--vintage-drk-brown);
}

.contain-photo:hover img {
	opacity: 0.3;
	transform: scale(1.5);
}

.contain-photo:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.contain-photo:hover .view-more {
	transform: translate(0px, -9px);
	-webkit-transform: translate(0px, -9px);
	-moz-transform: translate(0px, -9px);
	-o-transform: translate(0px, -9px);
	-ms-transform: translate(0px, -9px);
	opacity: 1;
}

/* -----------  Car Details  ---------------------------------------------------------------------------------------- */

.masthead {
    overflow: hidden;
}

.main-text {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: var(--vintage-trans-black);
    width: 100%;
    padding-left: 50px;
}

.image-container {
    background-color: rgba(57, 62, 93, 0.7);
	padding: 0;
	overflow: hidden;
	max-width: 1500px;
	margin: 15px;

}

.image-container img {
    width: 100%;
    height: 100%;
}

.comment-line {
    border-bottom: var(--vintage-yellow) 2px solid;

}

.img-width {
    width: 100%;
}

.heart-icon, .comment-icon {
    font-size: 30px;
}

.vintage-green-btn {
    color: var(--vintage-white);
    background-color: #5a9786;
    width: 200px;
}

.vintage-green-btn:hover {
    background-color: var(--vintage-green);
}


/* -----------  User Profile  ---------------------------------------------------------------------------------- */
.up-button {
    display: inline-block;
    background-color: var(--vintage-orange);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 40px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
}

.up-button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: var(--vintage-white);
}

.up-button:hover {
    cursor: pointer;
    background-color: var(--vintage-trans-black);
}

.up-button:active {
    background-color: var(--vintage-trans-black);
}

.up-button.show {
    opacity: 1;
    visibility: visible;
}

.btn {
    border-radius: 50px;
}

.vintage-btn {
    color: var(--vintage-white);
    background-color: var(--vintage-drk-brown);
    width: 200px;
}

.vintage-btn:hover {
    background-color: var(--vintage-drk-brown);
}

.hvr-ripple-out:before{
    border: var(--vintage-drk-brown) solid 6px;
    border-radius: 50px;
}

.contain-form {
    background-color: rgba(184, 171, 158, 0.45);
    border-radius: 5px;
}

.reg-link {
    background-color: var(--vintage-brown);
    border-radius: 3px;
    padding: 5px;
}

.reg-link:hover {
    color: var(--vintage-white);
    background-color: var(--vintage-red);
}

.vintage-profile {
    background-color: var(--vintage-green);
    padding: 18px 30px;
    border-radius: 0 15px 0 15px;
}

.vintage-profile nav {
    justify-content: center;
}

.profile-icon {
    font-size: 40px;
}

.profile-bar {
    margin: 0;
}

.add-link {
    border: transparent 1px solid;
    border-radius: 20px;
    padding: 10px 25px;
}

.add-link:hover {
    color: var(--vintage-white);
    border: var(--vintage-white) 1px solid;
}

.profile-bar {
    text-transform: capitalize;
    font-family: var(--elite);
}


/* -----------  Form  -------------------------------------------------------------------------------------------- */
.title-input {
    width: 720px;
}

.year-input {
    width: 100px;
}

.status-input {
    width: 200px;
}



/* -----------  Pagination  -------------------------------------------------------------------------------------------- */
.pagination {
    --bs-pagination-color: var(--vintage-white);
    --bs-pagination-bg: var(--vintage-trans-black);
    --bs-pagination-border-color: var(--vintage-trans-black);
    --bs-pagination-hover-color: var(--vintage-yellow);
    --bs-pagination-hover-bg: var(--vintage-red);
    --bs-pagination-hover-border-color:var(--vintage-red);
    --bs-pagination-focus-color: var(--vintage-yellow);
    --bs-pagination-focus-bg: var(--vintage-red);
    --bs-pagination-active-color: var(--vintage-white);
    --bs-pagination-active-bg: var(--vintage-brown);
    --bs-pagination-active-border-color: var(--vintage-brown);
    --bs-pagination-disabled-color: #b6b1b1;
    --bs-pagination-disabled-bg: transparent;
    --bs-pagination-disabled-border-color: #b6b1b1;
    display: flex;
    padding: 20px 0 50px 0;
    list-style: none;
}


/* -----------  Modal  -------------------------------------------------------------------------------------------- */
.modal {
    color: black;
}

.modal .modal-content {
    background-color: var(--vintage-yellow);
    padding: 5px 20px;
}

.modal .modal-header {
    border-bottom: none;
}

.modal .modal-footer {
    border-top: none;
}


/* -----------  Responsive --------------------------------------------------------------------------------------- */

@media (max-width: 991px) {
    #navbarResponsive
    {
        position:absolute;
        z-index: 10;
        right: 0;
        top: 143px;
        background-color: var(--vintage-drk-brown);
        width: 200px;
        padding: 10px 0;
    }


    hr {
        border-top: 0;
    }
    
    .navbar>.container {
        display: flex;
        flex-wrap: inherit;
        align-items: flex-end;
        justify-content: space-between;
        margin-right: 0;
        margin-left: 40%;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }
    .navbar-brand img {
        width: 150px;
    }

    .navbar-nav .nav-item,
    .navbar .navbar-nav .nav-link {
        padding: 0 5px 0;
        /* margin-left: 45%; */
    }

}

/* medium devices */
@media (max-width: 768px) {

    .navbar-brand img {
        width: 150px;
    }
}

/* small devices */
@media (max-width: 575.98px) {
    #navbarResponsive {
        top: 106px;
    }

    .navbar-brand img {
        width: 100px;
    }

    .comment-line {
        border-bottom: none;
    
    }
    
    .img-width {
        width: 300px;
    }

    .heart-icon, .comment-icon {
        font-size: 25px;
        width: 90px;
    }

}