{% load static %}

<footer>
    <div class="container-fluid pt-5">
        <div class="row footer">
            <!-- Copyright -->
            <div class="col-lg-4 col-md-12 footer-cont align-self-end order-lg-1">
                <p class="text-white">Vintage Cars&copy; <span id="copyright"></span></p>
            </div>
            <!-- Social media site -->
            <div class="col-lg-4 col-md-12 footer-cont order-last order-lg-2">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/" target="_blank" class="footer-link hvr-float-shadow">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/" target="_blank" class="footer-link hvr-float-shadow">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/" target="_blank" class="footer-link hvr-float-shadow">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/" target="_blank" class="footer-link hvr-float-shadow">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Disclaimer -->
            <div class="col-lg-4 col-md-12 footer-cont align-self-end order-lg-2">
                <p>For Portfolio Project 4 purposes only.</p>
            </div>
        </div>
    </div>
</footer>