{% load static %}

<footer>
    <div class="container-fluid">
        <div class="row footer">
            <!-- Copyright -->
            <div class="col-md-4 footer-cont">
                <p class="text-white">Vintage Cars&copy; <span id="copyright"></span></p>
            </div>
            <!-- Social media site -->
            <div class="col-md-4 footer-cont">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#" class="footer-link">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="footer-link">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="footer-link">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="footer-link">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Disclaimer -->
            <div class="col-md-4 footer-cont">
                <p>For portfolio 4 project purposes only.</p>
            </div>
        </div>
    </div>
</footer>