{% extends 'base.html' %}
{% block title %} {{ post_car.car_model_title }} Post {% endblock %}
{% load static %}

{% block content %}
<!-- Head post -->
<header class="masthead g-0">
    <div class="row justify-content-center">
        <div class="col masthead-image image-container justify-content-center position-relative">
            {% if "placeholder" in post_car.car_image.url %}
            <img src="{% static 'images/screenshots/sshot-logo-dark.png' %}" alt="Default image">
            {% else %}
            <img src="{{ post_car.car_image.url }}" alt="Car image" width="100%">
            {% endif %}

            <div class="col post-heading main-text">
                <h1 class="px-4">{{ post_car.car_model_title }}</h1>
                <h2 class="subheading px-4">({{ post_car.year_manufactured }})</h2>
                <span class="meta px-4">
                    Posted by
                    <a href="#!">{{ post_car.author }}</a>
                    {{ post_car.date_updated }}
                </span>
            </div>
        </div>
    </div>
    <!-- end head post -->
</header>
<!-- Post Content-->
<article class="mb-4 mt-4">
    <a class="up-button"></a>
    <div class="container px-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <p>{{ post_car.content | safe }}</p>
                <div class="row ms-3">
                    <!-- Like icon -->
                    <div class="col-2 heart-icon">
                        {% if user.is_authenticated %}
                        <form class="d-inline like-form" action="{% url 'like_car' post_car.id %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="car_post" value="{{ post_car.car_model_tittle }}"
                                class="hvr-icon-pulse-grow t-red">
                                <i class="fas fa-heart hvr-icon"></i>
                            </button>
                            {% else %}
                            <button type="submit" name="car_post" value="{{ post_car.car_model_tittle }}"
                                class="hvr-icon-pulse-grow t-red">
                                <i class="far fa-heart hvr-icon"></i>
                            </button>
                            {% endif %}
                        </form>
                        {% else %}
                        <div class="t-white">
                            <i class="far fa-heart hvr-icon"></i>
                        </div>
                        {% endif %}
                        <span class="t-white fs-5">{{ post_car.number_of_likes }}</span>
                    </div>
                    <!-- comments icon -->
                    <div class="col-2 comment-icon">
                        <i class="fas fa-comment-dots"></i>
                        {% with comments.count as total_comments %}
                        <span class="fs-5">{{ total_comments }}</span>
                        {% endwith %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End post content -->
</article>

<!-- Comment section -->
<div class="contain-fluid justify-content-center my-5">
    <div class="row">
        <div class="col-4 comment-line"></div>
        <div class="col-4 d-flex justify-content-center align-top"><img src="{% static 'images/comments.png' %}"
                class="img-width" alt="comments"></div>
        <div class="col-4 comment-line"></div>
    </div>
    <div class="row mb-5">
        <div class="col-md-8 offset-md-2 col-10 offset-1">
            <div class="row">
                <!-- Comment form section -->
                <div class="col mt-5">
                    {% if user.is_authenticated %}
                    <h3>Write a comment</h3>
                    <p>From: <span class="text-capitalize">{{ user.username }}</span></p>
                    <form method="POST" class="my-4">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button type="submit" class="btn vintage-green-btn mt-4">Send <i class="far fa-paper-plane"></i></button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- comments -->
                    <h3>Comments</h3>
                    {% for comment in comments %}
                    <p>Commented by: <strong class="text-capitalize">{{ comment.name }}</strong> <small
                            class="text-secondary">{{ comment.date_created }}</small></p>
                    <p>{{ comment.comment_body }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End comment section -->
{% endblock %}