{% extends 'base.html' %}

{% block title %} Car Posts {% endblock %}

{% load static %}

{%  block content %}
<div class="container-fluid justify-content-center">
	<div class="row">
		<div class="col">
			<h2 class="text-center">VIEW ALL VINTAGE CARS</h2>
		</div>
	</div>
	<div class="row mt-1º text-center">
		<div class="col">
			<div class="filter-body">
				<form method="GET">
					{{ car_filter.form }}
					<button class="btn btn-secondary my-1" type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row contain">
		<!-- Photo container -->
		{% for post in post_car %}
		<div class="post-container col-lg-4 col-md-6">
			{% if post.can_rent %}
				<div class="row">
					<div class="col-2 can-rent badge rounded-pill bg-danger">
						<p>For Rent</p>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col contain-photo">
					<div class="row">
						<div class="col">
							<div class="view-more text-white hvr-icon-grow">
								<a href="{% url 'car_detail' post.id %}"><i class="far fa-eye px-3 hvr-icon"></i></a>
								<span>
									<i class="far fa-heart"></i>
								</span>
								<span class="col-1">
									<i class="far fa-comments"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<article class="text-left">
								<h2>{{ post.car_model_title }}</h2>
								<h4>({{ post.year_manufactured }})</h4>
							</article>
						</div>
					</div>
	
					{% if "placeholder" in post.car_image.url %}
					<img src="{% static 'images/screenshots/sshot-logo-dark.png' %}" alt="Default image">
					{% else %}
					<img src="{{ post.car_image.url }}" alt="Car Image">
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>	
	
	<div>
		<!-- pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				{% if post_car.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ post_car.previous_page_number }}">&laquo;</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="True">&laquo;</a>
				</li>
				{% endif %}
		
				{% if post_car.number|add:'-4' > 1 %}
				<li class="page-item"><a class="page-link" href="?page={{ post_car.number|add:'-5' }}">&hellip;</a></li>
				{% endif %}
		
				{% for i in post_car.paginator.page_range %}
				{% if post_car.number == i %}
				<li class="page-item active" aria-current="page">
					<span class="page-link">
						{{ i }}
						<span class="sr-only">(current)</span>
					</span>
				</li>
				{% elif i > post_car.number|add:'-5' and i < post_car.number|add:'5' %}
				<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
				{% endfor %}
		
				{% if post_car.paginator.num_pages > post_car.number|add:'4' %}
				<li class="page-item"><a class="page-link" href="?page={{ post_car.number|add:'5' }}">&hellip;</a></li>
				{% endif %}
		
				{% if post_car.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ post_car.next_page_number }}">&raquo;</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="True">&raquo;</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>


{% endblock %}