{% extends 'base.html' %}

{% block title %}Edit Event{% endblock %}

{% block content %}
<div class="container bg-dark">
    <div class="row text-center my-5">
        <div class="col-md-8 offset-md-2 col-sm">
            <!-- header -->
            <h2>Edit event post</h2>
        </div>
    </div>
    <!-- Post form -->
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm">
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-center mb-5 pb-5 pt-3">
                        <button type="submit" class="btn vintage-btn">Edit event</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}