{% extends 'base.html' %}

{% block title %}Event Detail{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ event.event_title }}</h1>
                    <!-- Post meta content-->
                    <div class="t-muted fst-italic mb-2">
                        Posted on {{ event.date_created | date:'d F, Y' }} by <span class="text-capitalize">{{ event.author }}</span>
                    </div>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4">
                    {% if "placeholder" in event.event_image.url %}
					<img class="img-fluid rounded w-100" src="{% static 'images/screenshots/sshot-logo-dark.png' %}" alt="Default image">
				    {% else %}
					<img class="img-fluid rounded w-100" src="{{ event.event_image.url }}" alt="Event Image">
				    {% endif %}
                </figure>
                <!-- Post content-->
                <section class="mb-5">
                    <h4>Where?</h4>
                    <p>{{ event.location }} on {{ event.event_date }}</p>
                    <p class="fs-5 mb-4">{{ event.content | safe }}</p>
                </section>
            </article>




            <!-- Comments section-->
            <section class="mb-5">
                <div class="bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4">
                            <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                        </form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When you put money directly to a problem, it makes a good headline.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}